h1 {
    font-size: 28px;
    background-color:rgb(220, 133, 133);
  }

  #position {
    font-size: 18px;
  }
  .summary {
    font-size: 16px;
  }
  
  h2 {
    color: #2F5A78;
    font-size: 20px;
  }