body {font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 28px;
    background-color:rgb(220, 133, 133);
    text-align: center;
  }

  #position {
    font-size: 18px;
    font-weight: bold;
  }
header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 2px;
  padding-bottom: 2px;
}

  .summary {
    font-size: 16px;
    line-height: 20px;
  }

h2 {
  color: #2F5A78;
  font-size: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid #2F5A78;
}

  h1 {
    font-size: 28px;
    text-transform: uppercase;
  }

  li b {
    color: #2F5A78;
    list-style-type: square;
    list-style-position: inside;
  }
  li {
    margin-bottom: 5px;
  } 

  #copyright {
    text-align: center;
  }
  section, footer {
  padding: 2px 10px;
}
ul {
  margin: 0px;
}
footer {
  background-color: #eeeeee;
}
footer a {
  color: #e99f4b;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
} 